<div class="bootstrap-wrapper">
    <div class="container text-center mt">
        <div class="row">

            <div class="col-md-6 offset-md-3">

                <div class="container">
                    <img src="/assets/login.png" />

                </div>
                
                <h1 class="text-center mt">Login Here !!</h1>
                
                <form (ngSubmit)="onSubmit()">

                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Username</mat-label>
                        <input [(ngModel)]="credentials.username"
                        name="username"
                         type="text" matInput required/> 
                    </mat-form-field>

                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Password</mat-label>
                        <input [(ngModel)]="credentials.password"
                        name="password"
                         type="password" matInput required/> 
                    </mat-form-field>

                    <div class="container">
                        <button mat-raised-button color="primary" type="submit">Login</button>
                        <button style="margin-left:2px;" mat-raised-button color="accent" type="submit">Reset</button>

                    </div>

                </form>
                
                <!-- <p>{{credentials | json}}</p> -->
            </div>

        </div>

    </div>

</div>